a(href="#")
  img.video(src="i/placeholders/2.jpg")
h3 Закажите у нас видеоролик и Вы получите готовый профессиональный продукт
p Презентация строящегося угольного терминала под г. Находка, который будет продвигать Ваш бизнес! Сделайте у нас презентационный фильм и в глазах партнеров Вы подниметесь на новую высоту!
