- var active = 1
- var pageName = 'Наши работы'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body.page-video.page-inner
    .page-wrap
      include includes/header
      .container.content-nav
        nav
          ul
            li: a(href="#") Главная
            li.active: a(href="#") Наши работы
            li: a(href="#") Услуги
            li: a(href="#") Проекты
            li: a(href="#") Оборудование
            li: a(href="#") Контакты
      main.container
        h1.wave Наши работы
        .portfolio
          a(href="#").portfolio__item
            img(src="i/placeholders/gallery/1.jpg")
            h3 Рекламный ролик для компании “Идеал”
            p Компания “Идеал” абсолютный лидер в производстве промышленного оборудования.  Перед нами была  поставлена задача представить основные направления деятельности, заинтерисовать клиентов, увеличить продажи.
          a(href="#").portfolio__item
            img(src="i/placeholders/gallery/2.jpg")
            h3 Ролик для компании “Империя”
            p Абсолютный лидер в производстве промышленного оборудования.  Перед нами была  поставлена задача представить основные направления деятельности, заинтерисовать клиентов, увеличить продажи.
          a(href="#").portfolio__item
            img(src="i/placeholders/gallery/3.jpg")
            h3 Ролик для компании “Империя”
            p Абсолютный лидер в производстве промышленного оборудования.  Перед нами была  поставлена задача представить основные направления деятельности, заинтерисовать клиентов, увеличить продажи.
          a(href="#").portfolio__item
            img(src="i/placeholders/gallery/4.jpg")
            h3 Ролик для компании “Империя”
            p Абсолютный лидер в производстве промышленного оборудования.  Перед нами была  поставлена задача представить основные направления деятельности, заинтерисовать клиентов, увеличить продажи.
          a(href="#").portfolio__item
            img(src="i/placeholders/gallery/5.jpg")
            h3 Ролик для компании “Империя”
            p Абсолютный лидер в производстве промышленного оборудования.  Перед нами была  поставлена задача представить основные направления деятельности, заинтерисовать клиентов, увеличить продажи.
          a(href="#").portfolio__item
            img(src="i/placeholders/gallery/6.jpg")
            h3 Ролик для компании “Империя”
            p Абсолютный лидер в производстве промышленного оборудования.  Перед нами была  поставлена задача представить основные направления деятельности, заинтерисовать клиентов, увеличить продажи.
        .pagination
          ul
            li.active: a(href="#") 1
            li: a(href="#") 2
            li: a(href="#") 3
            li: a(href="#") 4
            li: a(href="#") 5
            li: a(href="#") 6


      include includes/footer
    include includes/tail
