
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {

  @include placeholder {
    color: #FFF;
  }

  -webkit-appearance: none;
  display: inline-block;
  margin-bottom: 18px;

  width: 300px;
  height: 41px;
  padding: 22px 20px;
  border: 5px solid darken(#892B3A, 10%);

  background-color: #892B3A;

  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  &:focus {
    background-color: #993242;
  }
}

textarea {
  height: 100px;
}

.btn, a.btn, input[type=submit] {
  display: inline-block;
  border-style: solid;
  border: none;
  text-decoration: none;
  position: relative;
  clear: both;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  transition: all .4s ease;

  padding: 12px 20px;

  border: 5px solid darken(#892B3A, 10%);
  background-color: transparent;

  margin-bottom: 18px;

  &:hover {
    background-color: #993242;
    &:active {
      top: 2px;
    }
  }

  &.btn {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 41px;
  }
}
