footer.container
  .footer__counter
    img(src="i/placeholders/counter.jpg")
  .footer__contacts
    h1 8 (423) 2-542-542
    small Адрес: Всеволода Сибирцева 79
  .footer__copy
    |Сopyright &copy; 2014. Все права защищены.<br>
    |Сделано в студии &quot;<a href="http://iastudio.ru" target="_blank">Интерактив</a>&quot;
